.section {
  position: sticky;
  z-index: -1;
}

.overlap {
  position: relative;
  z-index: 1;
  top: -184px;
}

.detail {
  height: 542px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
