.button {
    height: 34px;
    border: 1px solid #000000;
    border-radius: 12px;
    gap: 10px;
    padding: 0 12.5px;
    background-color: #fff !important;
}

.button:hover,
.button:focus {
    background-color: #000 !important;
    color: #fff;
    border: none;
    height: 34px;
    transition: 0.3s ease-in-out; 
}
