@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');*/
@layer base {
  :root {
    --gray: #888888;
    --dark-gray: #4E4E4E;
    --neutral-gray: #656565;
    --light-neutral-gray: #999999;
    --light-gray: #E3E3E3;
    --black: #121212;
    --light-black: #191919;
    --darker-white : #F1F1F1;

  
    --extra-large-text-size: 64px;
    --large-text-size: 48px;
    --text-size: 36px;
    --medium-text-size: 32px;
    --regular-text-size: 24px;
    --small-text-size: 20px;

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background: var(--light-gray);
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  transition: all 0.3s;
  background-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

#root, #__next {
  isolation: isolate;
}

ul, li {
  list-style-type: none;
}

q {
  font-family: 'Silkscreen', cursive;
  font-weight: 700;
}

/*Homepage slider Style*/
.scroll-section-inner {
  height: 464px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
}

.scroll-section {
  height: 396px;
  width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section .scroll-section-img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border: 3px solid #000000;
}

.scroll-section h3 {
  border: 3px solid var(--black);
}

.view-archive {
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  filter: drop-shadow(var(--shadow));
}

.view-archive:hover {
    content: url('../assets/images/view-archive-hover.svg');
    transform: rotate(13.5deg);
}

.see-more {
  font-family: 'Silkscreen', cursive;
}

/*Homepage contact style*/
.infor {
  border-radius: 16px;
  box-shadow: var(--shadow);
  border: 2px solid var(--black);
}

.link-to-mail {
  transition: .3s ease-in-out;
}

.link-to-mail:hover {
  font-weight: 700;
  text-decoration: underline;
  transition: .3s ease-in-out;
}

.social-link {
  transition: .3s ease-in-out;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  min-height: 100%;
  min-width: 100%;
  justify-self: center;
  text-align: center;
  padding: 1rem 5rem;
}

.social-link:hover {
  transition: .3s ease-in-out;
  background-color: var(--black);
  color: white;
}