.introContainer {
    display: flex;
    justify-content: space-between;
}

.name:hover {
    content: url(../../../assets/images/name-hover.svg);
}

.text {
    display: flex;
    flex-direction: column;
}

.note {
    position: absolute;
    left: 56.03%;
    right: 32.61%;
    top: 6.14%;
    bottom: 90.42%;
}