.intro {
  height: 100%;
}

.nameWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;

  &:hover {
    .nameDefault {
      opacity: 0;
    }

    .nameHover {
      opacity: 1;
    }
  }
}

.name {
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: auto;
}

.nameDefault {
  opacity: 1;
  position: relative;
}

.nameHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
}
