.para > div > p {
  padding-top: 12px;
}

.largetext {
  font-size: 40px;
}

.mail {
  border-radius: 70px;
  background-color: #191919;
  width: calc(100% + 64px);
}

.links {
  &:hover {
    color: #191919;
    text-decoration: underline;
  }
}
