.viewButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -0%;
    overflow: hidden;
    margin: 4rem;
    padding: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 0.3s;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 100;
}

.viewButton:hover {
    transform: rotate(13.5deg);
    content: url(../../assets/images/view-archive-hover.svg);
    width: 135px;
    height: 132px;
}

@media (max-width: 768px) {
    .viewButton {
        margin: 20px;
        bottom: -100vh;
    }
}