.works {
  border-radius: 70px;
  margin: auto auto;
}

@media screen and (min-width: 768px) {
    .swiper {
        height: 666px;
    }
}

@media screen and (max-width: 768px) {
    .swiper {
        height: 420px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .swiper {
        height: 320px;
        width: 100%;
    }
}
.image {
  border-radius: 70px;
  overflow: hidden;
  border: 2px solid #121212;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: .3s ease-in-out;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 0px 0px 70px 0px;
}

.works:hover .overlay {
    opacity: 1;
}

.slideContent {
    right: 17.29%;
    top: 76.42%;
    padding: 24px 60px;
    transition: .3s ease-in-out;
    background: white;
}

.works:hover .slideContent {
    opacity: 1;
    cursor: pointer;
}

.slideContent h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 6px;
}

.slideContent p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .slideContent {
        padding: 16px 32px;
    }

    .slideContent h3 {
        font-size: 24px;
    }

    .slideContent p {
        font-size: 16px;
    }
}