.cardImage {
    cursor: pointer;
}

.image {
    height: 110px;
    width: 420px;
    object-fit: fill;
    border: 1px solid #121212;
}

.cardImage .image:hover {
    position: relative;
    height: 100%;
    transition: 0.6s cubic-bezier(.17,-0.31,.3,1.32);
    object-fit: cover;
}

.cardImage:hover {
    position: relative;
    height: 80%;
    overflow: hidden;
}

#smooth-wrapper{
    webkit-transition: all .6s cubic-bezier(.55, 0, .1, 1);
    -moz-transition: all .6s cubic-bezier(.55, 0, .1, 1);
    -ms-transition: all .6s cubic-bezier(.55, 0, .1, 1);
    -o-transition: all .6s cubic-bezier(.55, 0, .1, 1);
    transition: all .6s cubic-bezier(.55, 0, .1, 1);
}
.cardImage #smooth-wrapper{
    transform: scale(0.9);
}